{{- if and (not .Values.oidc.existingSecret) .Values.oidc.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "opencloud.keycloak.fullname" . }}
type: Opaque
stringData:
  adminUser: {{ .Values.oidc.adminUser }}
  adminPassword: {{ .Values.oidc.adminPassword }}
{{- end }}